version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/" # `.github/workflows`
      - "/.github/actions/*"
    rebase-strategy: "disabled"
    schedule:
      interval: "daily"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directory: "/"
    rebase-strategy: "disabled"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "rust-toolchain"
    directory: "/"
    rebase-strategy: "disabled"
    schedule:
      interval: "daily"
