[workspace]
default-members = ["crates/kr"]

members = [
    "crates/kr",
    "crates/ssh-agent"
]

[workspace.dependencies]
clap = "3.0.0-beta.2"
tokio = { version = "1.29.1", features = ["full"] }
sodiumoxide = "0.2.7"
serde = { version = "1.0.164", features = ["derive"] }
serde_bytes = "0.11.9"
serde_json = "1.0.96"
serde-xml-rs = "0.6.0"
async-trait = "0.1.68"
base64 = "0.21.0"
base64-serde = "0.7.0"
thiserror = "1.0.40"
rusoto = "0.24.2"
rusoto_core = { version = "0.48.0", default_features = false, features = ["rustls"] }
rusoto_sqs = { version = "0.48.0", default_features = false, features = ["rustls"] }
rusoto_sns = { version = "0.48.0", default_features = false, features = ["rustls"] }
futures = "0.3.28"
chrono = "0.4.24"
uuid = { version = "0.8.2", features = ["serde", "v4"] }
env_logger = "0.10.0"
log = "0.4.17"
byteorder = "1.3.4"
whoami = "1.5.2"
qr2term = "0.3.1"
eagre-asn1 = "0.3.0"
reqwest = { version = "0.11.27", default_features = false, features = ["json", "rustls-tls"] }
askama = "0.12.0"
notify-rust = "4.8.0"
run_script = "0.10.1"
ansi_term = "0.12.1"
directories = "5.0.1"
dirs = "5.0.1"
urlencoding = "2.1.2"
nix = "0.26.2"
openssl = "0.10.56"
bitflags = "2.8.0"
ecdsa = "0.16.9"
ring = "0.16.20"
untrusted = "0.9.0"
pem = "2.0.1"
osshkeys = "0.6.2"

# macOS
mac-notification-sys = "0.5.6"
