name: Brew Bottle

on: 
  release:
    types:
      - created

jobs:
  bottle:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get Rust toolchain channel
        run: |
          echo "RUST_CHANNEL=$(sed -nrE 's/^channel = "(.*)"$/\1/p' "$GITHUB_WORKSPACE"/rust-toolchain.toml)" >> $GITHUB_ENV

      - name: Install Rust ${{ env.RUST_CHANNEL }}
        uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331 # v1
        with:
          toolchain: ${{ env.RUST_CHANNEL }}

      - name: Upload bottle assets to release
        if: ${{ github.event.release.upload_url }}
        env:
          GH_TOKEN: ${{ github.token }}
          VERSION: ${{ github.event.release.tag_name }}
        run: |
          cargo build --release

          mkdir -p /tmp/akr/${VERSION}/bin
          cp ./target/release/akr /tmp/akr/${VERSION}/bin/
          tar -czf akr-${VERSION}.big_sur.bottle.tar.gz -C /tmp akr
          cp akr-${VERSION}.big_sur.bottle.tar.gz akr-${VERSION}.catalina.bottle.tar.gz
      
          ls *.bottle.tar.gz
      
          # clean up
          rm -rf /tmp/akr

          gh release upload $VERSION *.bottle.tar.gz
